<div class="container-fluid">
      
      <div class="row">
        <div class="col-12">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" ng-click="retrieveData('audit_types', 'quality')">
    <a class="nav-link active show" data-toggle="tab" href="#audittypes" role="tab" aria-controls="home" aria-selected="false">Audit</a>
  </li>
  <li class="nav-item" ng-click="retrieveData('car_types', 'quality')">
    <a class="nav-link" data-toggle="tab" href="#cartypes" role="tab" aria-controls="profile" aria-selected="false">CAR Type</a>
  </li>
    <li class="nav-item" ng-click="retrieveData('categories', 'quality')">
    <a class="nav-link" data-toggle="tab" href="#category" role="tab" aria-controls="Classification" aria-selected="false">Categories</a>
  </li>
    <li class="nav-item" ng-click="retrieveData('criticality', 'quality')">
    <a class="nav-link" data-toggle="tab" href="#critical" role="tab" aria-selected="false">Criticality</a>
  </li>
   <li class="nav-item" ng-click="retrieveData('customers', 'quality')">
    <a class="nav-link" data-toggle="tab" href="#customer" role="tab" aria-controls="sites" aria-selected="false">Customers</a>
  </li>
   <li class="nav-item" ng-click="retrieveData('defects', 'quality')">
    <a class="nav-link"  data-toggle="tab" href="#defect" role="tab" aria-selected="false">Defects</a>
  </li>
   <li class="nav-item" ng-click="retrieveData('departments', 'quality')">
    <a class="nav-link"  data-toggle="tab" href="#department" role="tab" aria-selected="false">Departments</a>
  </li>
   <li class="nav-item">
    <a class="nav-link"  data-toggle="tab" href="#" role="tab"aria-selected="true">Document Details</a>
  </li>
  <li class="nav-item" ng-click="retrieveData('meeting_type', 'quality')">
    <a class="nav-link"  data-toggle="tab" href="#meetingtype" role="tab" aria-selected="false">Meeting Type</a>
  </li>
  <li class="nav-item" ng-click="retrieveData('parts', 'quality')">
    <a class="nav-link"  data-toggle="tab" href="#part" role="tab" aria-selected="false">Parts</a>
  </li>
  <li class="nav-item" ng-click="retrieveData('root_causes', 'quality')">
    <a class="nav-link"  data-toggle="tab" href="#rootcauses" role="tab" aria-selected="false">Root Causes</a>
  </li>
  <li class="nav-item" ng-click="retrieveData('sites', 'quality')">
    <a class="nav-link"  data-toggle="tab" href="#site" role="tab" aria-selected="false">Sites</a>
  </li>
  <li class="nav-item" ng-click="retrieveData('suppliers', 'quality')">
    <a class="nav-link"  data-toggle="tab" href="#supply" role="tab" aria-selected="false">Suppliers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  data-toggle="tab" href="#trackingnumbers" role="tab" aria-selected="false">Tracking Numbers</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
 

  <div class="tab-pane fade active show" id="audittypes" role="tabpanel" aria-labelledby="home-tab">
  
<div id="clicentfor" class="height_155 scrollFy scrollWithFrm">
  <button class="btn btn-faem" ng-click="addNewColumn('audit_types', 'quality')">Add New</button>
  <button class="btn btn-faem" ng-show="isAmending" ng-click="amendColumn('audit_types', 'quality')">Amend</button>
  <button class="btn btn-faem" ng-click="saveColumn('audit_types', 'quality')">Save</button>
  <button class="btn btn-faem Close" ng-click="removeItem('audit_types', 'quality')">Delete</button>
    <table class="table table-bordered">
    <thead>
      <tr>
     <th>&nbsp;</th>
        <th>Audit Type</th>
        <th>Description</th>
        <th>Sort Order</th>
      </tr>
    </thead>
    <tbody id="audit_types">
    </tbody>
  </table>
</div>

  </div>

  <div class="tab-pane fade" id="cartypes" role="tabpanel" aria-labelledby="profile-tab">
    <button class="btn btn-faem" ng-click="addNewColumn('car_types', 'quality')">Add New</button>
  <button class="btn btn-faem" ng-show="isAmending" ng-click="amendColumn('car_types', 'quality')">Amend</button>
  <button class="btn btn-faem" ng-click="saveColumn('car_types', 'quality')">Save</button>
  <button class="btn btn-faem Close" ng-click="removeItem('car_types', 'quality')">Delete</button>
    <table class="table table-bordered">
    <thead>
      <tr>
     <th>&nbsp;</th>
        <th>CAR Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody id="car_types">
    </tbody>
  </table>
  </div>

  <div class="tab-pane fade" id="category" role="tabpanel" aria-labelledby="profile-tab">
    <button class="btn btn-faem" ng-click="addNewColumn('categories', 'quality')">Add New</button>
  <button class="btn btn-faem" ng-show="isAmending" ng-click="amendColumn('categories', 'quality')">Amend</button>
  <button class="btn btn-faem" ng-click="saveColumn('categories', 'quality')">Save</button>
  <button class="btn btn-faem Close" ng-click="removeItem('categories', 'quality')">Delete</button>
    <table class="table table-bordered">
    <thead>
      <tr>
     <th>&nbsp;</th>
        <th>Category</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody id="categories">
    </tbody>
  </table>
  </div>


  <div class="tab-pane fade" id="critical" role="tabpanel" aria-labelledby="profile-tab">
    <button class="btn btn-faem" ng-click="addNewColumn('criticality', 'quality')">Add New</button>
  <button class="btn btn-faem" ng-show="isAmending" ng-click="amendColumn('criticality', 'quality')">Amend</button>
  <button class="btn btn-faem" ng-click="saveColumn('criticality', 'quality')">Save</button>
  <button class="btn btn-faem Close" ng-click="removeItem('criticality', 'quality')">Delete</button>
    <table class="table table-bordered">
    <thead>
      <tr>
     <th>&nbsp;</th>
        <th>Criticality</th>
        <th>Description</th>
        <th>Sort Order</th>
      </tr>
    </thead>
    <tbody id="criticality">
    </tbody>
  </table>
  </div>

  <div class="tab-pane fade" id="customer" role="tabpanel" aria-labelledby="profile-tab">
    <button class="btn btn-faem" ng-click="addNewColumn('customers', 'quality')">Add New</button>
  <button class="btn btn-faem" ng-show="isAmending" ng-click="amendColumn('customers', 'quality')">Amend</button>
  <button class="btn btn-faem" ng-click="saveColumn('customers', 'quality')">Save</button>
  <button class="btn btn-faem Close" ng-click="removeItem('customers', 'quality')">Delete</button>
    <table class="table table-bordered">
    <thead>
      <tr>
     <th>&nbsp;</th>
        <th>Customer Code</th>
        <th>Company Name</th>
        <th>Billing Address</th>
        <th>City</th>
        <th>State</th>
        <th>Postal</th>
        <th>Country</th>
        <th>Phone</th>
        <th>Fax</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Title</th>
        <th>Email</th>
        <th>Notes</th>
        <th>Active?</th>
      </tr>
    </thead>
    <tbody id="customers">
    </tbody>
  </table>
  </div>

  <div class="tab-pane fade" id="cartypes" role="tabpanel" aria-labelledby="profile-tab">
    <button class="btn btn-faem" ng-click="addNewColumn('parts', 'quality')">Add New</button>
  <button class="btn btn-faem" ng-show="isAmending" ng-click="amendColumn('parts', 'quality')">Amend</button>
  <button class="btn btn-faem" ng-click="saveColumn('parts', 'quality')">Save</button>
  <button class="btn btn-faem Close" ng-click="removeItem('parts', 'quality')">Delete</button>
    <table class="table table-bordered">
    <thead>
      <tr>
     <th>&nbsp;</th>
        <th>CAR Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody id="car_types">
    </tbody>
  </table>
  </div>

  <div class="tab-pane fade" id="defect" role="tabpanel" aria-labelledby="profile-tab">
    <button class="btn btn-faem" ng-click="addNewColumn('defects', 'quality')">Add New</button>
  <button class="btn btn-faem" ng-show="isAmending" ng-click="amendColumn('defects', 'quality')">Amend</button>
  <button class="btn btn-faem" ng-click="saveColumn('defects', 'quality')">Save</button>
  <button class="btn btn-faem Close" ng-click="removeItem('defects', 'quality')">Delete</button>
    <table class="table table-bordered">
    <thead>
      <tr>
     <th>&nbsp;</th>
        <th>Defect Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody id="defects">
    </tbody>
  </table>
  </div>

  <div class="tab-pane fade" id="department" role="tabpanel" aria-labelledby="profile-tab">
    <button class="btn btn-faem" ng-click="addNewColumn('departments', 'quality')">Add New</button>
  <button class="btn btn-faem" ng-show="isAmending" ng-click="amendColumn('departments', 'quality')">Amend</button>
  <button class="btn btn-faem" ng-click="saveColumn('departments', 'quality')">Save</button>
  <button class="btn btn-faem Close" ng-click="removeItem('departments', 'quality')">Delete</button>
    <table class="table table-bordered">
    <thead>
     <tr>
     <th>&nbsp;</th>
        <th>Dept Number/Code</th>
        <th>Department Name</th>
        <th>Manager Name</th>
        <th>Active?</th>
      </tr>
    </thead>
    <tbody id="departments">
    </tbody>
  </table>
  </div>

  <div class="tab-pane fade" id="meetingtype" role="tabpanel" aria-labelledby="profile-tab">
    <button class="btn btn-faem" ng-click="addNewColumn('meeting_type', 'quality')">Add New</button>
  <button class="btn btn-faem" ng-show="isAmending" ng-click="amendColumn('meeting_type', 'quality')">Amend</button>
  <button class="btn btn-faem" ng-click="saveColumn('meeting_type', 'quality')">Save</button>
  <button class="btn btn-faem Close" ng-click="removeItem('meeting_type', 'quality')">Delete</button>
    <table class="table table-bordered">
    <thead>
      <tr>
     <th>&nbsp;</th>
        <th>Meeting Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody id="meeting_type">
    </tbody>
  </table>
  </div>

  <div class="tab-pane fade" id="part" role="tabpanel" aria-labelledby="profile-tab">
    <button class="btn btn-faem" ng-click="addNewColumn('parts', 'quality')">Add New</button>
  <button class="btn btn-faem" ng-show="isAmending" ng-click="amendColumn('parts', 'quality')">Amend</button>
  <button class="btn btn-faem" ng-click="saveColumn('parts', 'quality')">Save</button>
  <button class="btn btn-faem Close" ng-click="removeItem('parts', 'quality')">Delete</button>
    <table class="table table-bordered">
    <thead>
      <tr>
     <th>&nbsp;</th>
        <th>Part Number</th>
        <th>Description</th>
        <th>Revision</th>
        <th>Alias</th>
        <th>Active?</th>
      </tr>
    </thead>
    <tbody id="parts">
    </tbody>
  </table>
  </div>

  <div class="tab-pane fade" id="rootcauses" role="tabpanel" aria-labelledby="profile-tab">
    <button class="btn btn-faem" ng-click="addNewColumn('root_causes', 'quality')">Add New</button>
  <button class="btn btn-faem" ng-show="isAmending" ng-click="amendColumn('root_causes', 'quality')">Amend</button>
  <button class="btn btn-faem" ng-click="saveColumn('root_causes', 'quality')">Save</button>
  <button class="btn btn-faem Close" ng-click="removeItem('root_causes', 'quality')">Delete</button>
    <table class="table table-bordered">
    <thead>
      <tr>
     <th>&nbsp;</th>
        <th>Type of Root Cause</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody id="root_causes">
    </tbody>
  </table>
  </div>

  <div class="tab-pane fade" id="site" role="tabpanel" aria-labelledby="profile-tab">
    <button class="btn btn-faem" ng-click="addNewColumn('sites', 'quality')">Add New</button>
  <button class="btn btn-faem" ng-show="isAmending" ng-click="amendColumn('sites', 'quality')">Amend</button>
  <button class="btn btn-faem" ng-click="saveColumn('sites', 'quality')">Save</button>
  <button class="btn btn-faem Close" ng-click="removeItem('sites', 'quality')">Delete</button>
    <table class="table table-bordered">
    <thead>
      <tr>
     <th>&nbsp;</th>
        <th>Site</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody id="sites">
    </tbody>
  </table>
  </div>

  <div class="tab-pane fade" id="cartypes" role="tabpanel" aria-labelledby="profile-tab">
    <button class="btn btn-faem" ng-click="addNewColumn('parts', 'quality')">Add New</button>
  <button class="btn btn-faem" ng-show="isAmending" ng-click="amendColumn('parts', 'quality')">Amend</button>
  <button class="btn btn-faem" ng-click="saveColumn('parts', 'quality')">Save</button>
  <button class="btn btn-faem Close" ng-click="removeItem('parts', 'quality')">Delete</button>
    <table class="table table-bordered">
    <thead>
      <tr>
     <th>&nbsp;</th>
        <th>CAR Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody id="car_types">
    </tbody>
  </table>
  </div>

  <div class="tab-pane fade" id="supply" role="tabpanel" aria-labelledby="profile-tab">
    <button class="btn btn-faem" ng-click="addNewColumn('suppliers', 'quality')">Add New</button>
  <button class="btn btn-faem" ng-show="isAmending" ng-click="amendColumn('suppliers', 'quality')">Amend</button>
  <button class="btn btn-faem" ng-click="saveColumn('suppliers', 'quality')">Save</button>
  <button class="btn btn-faem Close" ng-click="removeItem('suppliers', 'quality')">Delete</button>
    <table class="table table-bordered">
    <thead>
      <tr>
     <th>&nbsp;</th>
        <th>Code Name</th>
        <th>Company Name</th>
        <th>Billing Address</th>
        <th>City</th>
        <th>State</th>
        <th>Postal</th>
        <th>Country</th>
        <th>Phone</th>
        <th>Fax</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Title</th>
        <th>Email</th>
        <th>Notes</th>
        <th>Active?</th>
      </tr>
    </thead>
    <tbody id="suppliers">
    </tbody>
  </table>
  </div>

</div>
</div>


</div>

        </div>
      </div>
