html {
  position: relative;
  min-height: 90%;
}

body {
  overflow-x: hidden;
}

body.sticky-footer {
  margin-bottom: 56px;
}

body.sticky-footer .content-wrapper {
  min-height: calc(100vh - 56px - 56px);
}

body.fixed-nav {
  padding-top: 56px;
}
body{font-size: 80%};

.content-wrapper {
  min-height: calc(100vh - 56px);
  padding-top: 0;
}

.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 3px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  background: rgba(52, 58, 64, 0.5);
  line-height: 45px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
  color: white;
}

.scroll-to-top:hover {
  background: #343a40;
}

.scroll-to-top i {
  font-weight: 800;
}

.smaller {
  font-size: 0.7rem;
}

.o-hidden {
  overflow: hidden !important;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

#mainNav .navbar-collapse {
  overflow: auto;
  max-height: 75vh;
}

#mainNav .navbar-collapse .navbar-nav .nav-item .nav-link {
  cursor: pointer;
}

#mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
  float: right;
  content: '\f107';
  font-family: 'FontAwesome';
}

#mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse.collapsed:after {
  content: '\f105';
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level,
#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level {
  padding-left: 0;
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a,
#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a {
  display: block;
  padding: 0.5em 0;
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a:focus, #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a:hover,
#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a:focus,
#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a:hover {
  text-decoration: none;
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a {
  padding-left: 1em;
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a {
  padding-left: 2em;
}

#mainNav .navbar-collapse .sidenav-toggler {
  display: none;
}

#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
  position: relative;
  min-width: 45px;
}

#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
  float: right;
  width: auto;
  content: '\f105';
  border: none;
  font-family: 'FontAwesome';
}

#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link .indicator {
  position: absolute;
  top: 5px;
  left: 21px;
  font-size: 10px;
}

#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown.show > .nav-link:after {
  content: '\f107';
}

#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu > .dropdown-item > .dropdown-message {
  overflow: hidden;
  max-width: none;
  text-overflow: ellipsis;
}

@media (min-width: 992px) {
  #mainNav .navbar-brand {
    width: 250px;
  }
  #mainNav .navbar-collapse {
    overflow: visible;
    max-height: none;
  }
  #mainNav .navbar-collapse .navbar-sidenav {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 56px;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item {
    width: 250px;
    padding: 0;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
    padding: 1em;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level,
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
    padding-left: 0;
    list-style: none;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li,
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li {
    width: 250px;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a,
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
    padding: 1em;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a {
    padding-left: 2.75em;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
    padding-left: 3.75em;
  }
  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
    min-width: 0;
  }
  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
    width: 24px;
    text-align: center;
  }
  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu > .dropdown-item > .dropdown-message {
    max-width: 300px;
  }
}

#mainNav.fixed-top .sidenav-toggler {
  display: none;
}

@media (min-width: 992px) {
  #mainNav.fixed-top .navbar-sidenav {
    height: calc(100vh - 112px);
  }
  #mainNav.fixed-top .sidenav-toggler {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: calc(100vh - 56px);
  }
  #mainNav.fixed-top .sidenav-toggler > .nav-item {
    width: 250px;
    padding: 0;
  }
  #mainNav.fixed-top .sidenav-toggler > .nav-item > .nav-link {
    padding: 1em;
  }
}

#mainNav.fixed-top.navbar-dark .sidenav-toggler {
  background-color: #212529;
}

#mainNav.fixed-top.navbar-dark .sidenav-toggler a i {
  color: #adb5bd;
}

#mainNav.fixed-top.navbar-light .sidenav-toggler {
  background-color: #dee2e6;
}

#mainNav.fixed-top.navbar-light .sidenav-toggler a i {
  color: rgba(0, 0, 0, 0.5);
}

body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler {
  overflow-x: hidden;
  width: 55px;
}

body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-item,
body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-link {
  width: 55px !important;
}

body.sidenav-toggled #mainNav.fixed-top #sidenavToggler i {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';
}

#mainNav.static-top .sidenav-toggler {
  display: none;
}

@media (min-width: 992px) {
  #mainNav.static-top .sidenav-toggler {
    display: flex;
  }
}

body.sidenav-toggled #mainNav.static-top #sidenavToggler i {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';
}

.content-wrapper {
  overflow-x: hidden;
  background: white;
}

@media (min-width: 992px) {
  .content-wrapper {
    margin-left: 250px;
  }
}

#sidenavToggler i {
  font-weight: 800;
}

.navbar-sidenav-tooltip.show {
  display: none;
}

@media (min-width: 992px) {
  body.sidenav-toggled .content-wrapper {
    margin-left: 55px;
  }
}

body.sidenav-toggled .navbar-sidenav {
  width: 55px;
}

body.sidenav-toggled .navbar-sidenav .nav-link-text {
  display: none;
}

body.sidenav-toggled .navbar-sidenav .nav-item,
body.sidenav-toggled .navbar-sidenav .nav-link {
  width: 55px !important;
}

body.sidenav-toggled .navbar-sidenav .nav-item:after,
body.sidenav-toggled .navbar-sidenav .nav-link:after {
  display: none;
}

body.sidenav-toggled .navbar-sidenav .nav-item {
  white-space: nowrap;
}

body.sidenav-toggled .navbar-sidenav-tooltip.show {
  display: flex;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
  color: #868e96;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
  color: #868e96;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover {
  color: #adb5bd;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a,
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
  color: #868e96;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:focus, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:hover,
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:focus,
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:hover {
  color: #adb5bd;
}

#mainNav.navbar-dark .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
  color: #adb5bd;
}

@media (min-width: 992px) {
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
    background: #343a40;
  }
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a {
    color: white !important;
    background-color: #495057;
  }
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a:focus, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a:hover {
    color: white;
  }
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level,
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
    background: #343a40;
  }
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
  color: rgba(0, 0, 0, 0.5);
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
  color: rgba(0, 0, 0, 0.5);
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover {
  color: rgba(0, 0, 0, 0.7);
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a,
#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
  color: rgba(0, 0, 0, 0.5);
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:focus, #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:hover,
#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:focus,
#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:hover {
  color: rgba(0, 0, 0, 0.7);
}

#mainNav.navbar-light .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
  color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 992px) {
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav {
    background: #f8f9fa;
  }
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a {
    color: #000 !important;
    background-color: #e9ecef;
  }
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a:focus, #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a:hover {
    color: #000;
  }
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level,
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
    background: #f8f9fa;
  }
}

.card-body-icon {
  position: absolute;
  z-index: 0;
  top: -25px;
  right: -25px;
  font-size: 5rem;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 1;
  }
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    column-count: 2;
  }
}

.card-login {
  max-width: 25rem;
}

.card-register {
  max-width: 40rem;
}

footer.sticky-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 56px;
  background-color: #e9ecef;
  line-height: 55px;
}

@media (min-width: 992px) {
  footer.sticky-footer {
    width: calc(100% - 250px);
  }
}

@media (min-width: 992px) {
  body.sidenav-toggled footer.sticky-footer {
    width: calc(100% - 55px);
  }
}


label{margin:0;display:inline;}
select{border:0;background:#fafafa;}
.btn.btn-primary:disabled{opacity:.2;}
.form-group{margin:2px 0;position:relative;}
.form-control:focus{background:#f9f9f9;border:.1vh solid #607d8b;box-shadow:inset 0 0 5px 0 rgba(0,0,0,0.17);}
.btn.btn-primary{color:#fff;}
.checkbox input+label::after,.checkbox input+label::before{content:"";display:block;position:absolute;left:0;top:0;}
.checkbox input{position:absolute;visibility:hidden;}
.btn.btn-primary,.btn-primary:focus,.btn-primary:active,.btn-primary{background-color:#37a000;border-color:#389109;}
.btn{border:0;color:#565656;position:relative;transition:all 500ms ease;font-weight:normal;display:inline-block;border-radius:.1vh;}
.btn.btn-primary:hover,.btn-primary:hover{background-color:#ffb61e;border-color:#ffb61e;}
.checkbox input+label{position:relative;display:inline-block;min-height:3vh;line-height:3vh;cursor:pointer;}
.checkbox input[type=checkbox]:checked+label:after{content:"\22";}
.checkbox input[type="checkbox"]+label::before,.checkbox input[type=checkbox]:checked+label:after{content:"\f096";display:inline-block;font:normal normal normal 14px/1 FontAwesome;-webkit-font-smoothing:antialiased;font-size:3vh;}
.checkbox input[type=checkbox]:checked+label:after{content:"\f046";}
.ClientCodeCheck{float:right;top:-4vh;position:relative;}
input[type=checkbox]:disabled+label{cursor:not-allowed;}
.checkbox{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.form-control:disabled{background-color:#e8e8e8!important;}
.checkbox input{visibility:visible;opacity:0;}
input[type=checkbox]:focus+label:before{text-shadow:0 0 3px;}
.btn:focus{box-shadow:inset 0 0 5px 1px rgba(0,0,0,0.8);}
.clientaddress-plus{background-color:#37a000;color:#fff;float:right;height:32px;line-height:32px;position:absolute;right:0;text-align:center;top:0;width:24px;}
select option{text-align-last:left;}
.select-center{text-align-last:center;}
select.form-control:required{background-image:url(https://saggst.com/assets/ui/img/required.png),url(https://saggst.com/assets/ui/img/select_img.png)!important;background-repeat:no-repeat!important;background-position:top left,right!important;background-size:7px 7px,3vh!important;}
select{-moz-appearance:none!important;-webkit-appearance:none!important;background-image:url(https://saggst.com/assets/ui/img/select_img.png)!important;background-repeat:no-repeat!important;background-position:right!important;background-size:3vh!important;padding-right:3vh!important;}
button:focus{outline:0;}
.iconsclass{position:absolute;right:0;text-align:center;top:0;width:24px;cursor:pointer;color:#bcbcbc;line-height:4vh;}
.iconsclass.fa-check{color:#7b7d7c;}
.iconsclass.fa-times{color:red;}
input[name=indvPanNo]{padding:0 30px 0 0;}
label{margin-bottom:0;}
.form-control:required{background-image:url(https://saggst.com/assets/ui/img/required.png);background-repeat:no-repeat;background-position:top left;background-size:7px 7px;}
button.btn,.btn{height:4vh;line-height:2vw;}
input[type=text],input[type=password],select{border:1px solid rgba(0,0,0,0.2);background:#fff;width:100%;}
.form-control{border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;height:4vh;}
select.form-control option{padding:5px 5px;line-height:1.5;}
@media only screen and (min-device-width :0) and (max-device-width :768px) and (orientation :portrait) and (-webkit-min-device-pixel-ratio :2){
button.btn,.btn{padding:0 10px;line-height:1;}
}
.inputlabel{padding-right:5px;line-height:1.1;position:absolute;top:50%;transform:translate(0,-50%);height:auto;display:inline-block;vertical-align:top;float:left;}
.inputlabel_100{width:10vw;}
.inputlabel_150{width:15vw;}
.inputBox{position:relative;padding-left:100px;}
.inputBox .checkbox{margin:0;padding:8px 0 0;display:inline-block;}
.inputlabel_100+.inputBox{padding-left:10vw;}
.inputlabel_150+.inputBox{padding-left:15vw;}
.showPassField .fa-eye-slash{position:absolute;top:0;right:0;cursor:pointer;z-index:55;line-height:4vh;width:24px;text-align:center;color:#f00;}
.showPassField .fa-eye-slash{color:#999;}
button i{padding:0 .5vh;display:inline-block;vertical-align:middle;}

select option{font-size:.95vw;}
.form-control{padding:.5vh .25vw;}
.checkbox input+label{min-height:3vh;}
.checkbox input+label{padding:0 0 0 3.5vh;line-height:3vh;}
.col-lg-4,.col-md-4,.col-md-8,.col-sm-12,.col-sm-4,.col-sm-6{padding-left:1vw;padding-right:1vw;}
.row{margin-left:-1vw;margin-right:-1vw;}
.form-group{margin:.35vh 0;}
.inputlabel{padding-right:.5vw;}
.inputlabel_100{width:8.4vw;}
.inputlabel_100+.inputBox{padding-left:8.4vw;}
.inputlabel_150{width:12.6vw;}
.inputlabel_150+.inputBox{padding-left:12.6vw;}
input[type=text],input[type=password],select,.form-control{border-width:.15vh;}
select.form-control option{padding:.5vh;}
.form-control:required{background-size:1vh 1vh;}
select.form-control:required{background-size:1vh 1vh,3vh!important;}
.iconsclass{width:4vh;}
.clientaddress-plus{height:4vh;line-height:4vh;width:4vh;top:0;cursor:pointer;}
button.btn,.btn{height:4vh;line-height: 4vh;border-width:.1vh;padding:0 .5vw;font-size: 2vh;}
button i{padding:0 .3vw;}
select:focus,.btn:focus,input:focus{outline:0;}
input[name=indvPanNo]{padding:0 3vh 0 .25vw;}
.showPassField .fa-eye-slash{width:2vw;}
.inputBox{padding-left:6.25vw;}
@media screen and (max-width:1100px){
.col-lg-4,.col-md-4,.col-md-8,.col-sm-12,.col-sm-4,.col-sm-6{padding-left:.5vw;padding-right:.5vw;}
.row{margin-left:-.5vw;margin-right:-.5vw;}
}
input,select{box-shadow:none;outline:0;}

h1.heading_hi {
    font-size: 1.5rem;
    padding-left: 1rem;
    display: block;
    width: 100%;
    background: #e8e8e8;
    padding: 12px 10px;
}
.btn-faem {
    background: rgb(55, 160, 0);
    color: #f7f7f7;
}
.Close {
    background: red;
}
.container-left {
    padding: 0px 15px;
}
.active-item a.nav-link.nav-link-collapse.collapsed {
    color: white!important;
}

.table-borede {
    border: 1px solid #ddd;
}
fieldset {
    border: 1px solid #ccc;
    padding: inherit;
}
.nav-link {
    display: block;
    padding: 0;
}

.nav-tabs .nav-item {
  border : 1px gray solid;
  font-size: 12px;
} 