
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <!-- <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Blank Page</li>
      </ol> -->
	  <div class="row">
	  <h1 class="heading_hi">Failure Mode Effects Analysis</h1>
	  
	  </div>
      <div class="row">
        <div class="col-12">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active show" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Derails</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Failure</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Comments and Attachments</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
  
<div id="clicentfor" class="height_155 scrollFy scrollWithFrm">
<div class="row row-sm">
				<div id="PANis" class="col-md-8" datatypesag="themesagsetting">
					<div class="form-group">
					<label class="inputlabel inputlabel_150">Description</label> 
					<div class="inputBox">
					<input type="text" class="form-control">
						</div>
						</div>
				</div>

					<div class="col-md-4">
					<div class="form-group">
					<label class="inputlabel inputlabel_100">FMEA #</label> 
					<div class="inputBox">
					<input type="date" class="form-control">
						</div>
				</div></div>

</div>
				<div class="row row-sm">
					<div class="col-sm-4 col-lg-4">
						<div class="form-group">
							<label class="inputlabel inputlabel_150">FMEA Revision</label>
							<div class="inputBox">
									<input type="text" class="form-control">
									
								</div>
						</div>
					</div>

					<div class="col-sm-4 col-lg-4">
						<div class="form-group">
							<label for="exampleSelect" class="inputlabel inputlabel_100">Owmer</label>
							<div class="inputBox">
								<select class="form-control ">
									<option value="">--Select--</option>
									<option value="jay">jay</option>
									<option value="Raj">Raj</option>
									<option value="Girraj">Girraj</option>
									<option value="Rakesh">Rakesh</option>
									<option value="Vikash">Vikash</option>
									<option value="Ashok">Ashok</option>
									<option value="Ram">Ram</option>
									<option value="Gita">Gita</option>
									</select>
							</div>
						</div>
					</div>

					<div class="col-sm-4 col-lg-4">
						<div class="form-group">
							<label for="exampleSelect" class="inputlabel inputlabel_100">Part #
							</label>
							<div class="inputBox">
								<select class="form-control">
									<option value="">--Select--</option>
									
									</select>
							</div>
						</div>
					</div>
				</div>

				<div class="row row-sm">
					

					<div class="col-sm-4 col-lg-4">
						<div class="form-group">
							<label for="exampleSelect" class="inputlabel inputlabel_150">FMEA Type</label>
							<div class="inputBox">
								<select class="form-control ">
									<option value="">--Select--</option>
									
									</select>
							</div>
						</div>
					</div>

					<div class="col-sm-4 col-lg-4">
						<div class="form-group">
							<label for="exampleSelect" class="inputlabel inputlabel_100">Site
							</label>
							<div class="inputBox">
								<select class="form-control">
									<option value="">--Select--</option>
									
									</select>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-lg-4">
						<div class="form-group">
							<label class="inputlabel inputlabel_100">Part # Revision</label>
							<div class="inputBox">
									<input type="text" class="form-control">
									
								</div>
						</div>
					</div>
				</div>
      <div class="row row-sm">
					<div class="col-sm-4 col-lg-4">
						<div class="form-group">
							<label class="inputlabel inputlabel_150">Date Initiated</label>
							<div class="inputBox">
									<input type="date" class="form-control">
									
								</div>
						</div>
					</div>

					<div class="col-sm-4 col-lg-4">
						<div class="form-group">
							<label for="exampleSelect" class="inputlabel inputlabel_100">Department</label>
							<div class="inputBox">
								<select class="form-control ">
									<option value="">--Select--</option>
									
									</select>
							</div>
						</div>
					</div>

					<div class="col-sm-4 col-lg-4">
						<div class="form-group">
							<label for="exampleSelect" class="inputlabel inputlabel_100">Customer
							</label>
							<div class="inputBox">
								<select class="form-control">
									<option value="">--Select--</option>
									
									</select>
							</div>
						</div>
					</div>
				</div>
			 <div class="row row-sm">
			 <div class="col-sm-4 col-lg-4">
			 
<table class="table">
  <thead>
    <tr>
       <th scope="col">#</th><th class="text-center">Team Memmbers</th>
     
    </tr>
  </thead>
  <tbody>
    <tr>
	<th scope="row">1</th>
      <th><select></select></th>
      
    </tr>
    <tr>
	<th scope="row">2</th>
      <th></th>
      
    </tr>
    <tr>
	<th scope="row">3</th>
      <th></th>
     
    </tr>
	</tbody>
</table>
</div>
</div>


  <div class="row row-sm">
				
<div class="col-sm-8 col-lg-8">
<div class="row row-sm">
					<div class="col-sm-6 col-lg-6">
						<div class="form-group">
							<label for="exampleSelect" class="inputlabel inputlabel_100">Approved By</label>
							<div class="inputBox">
								<select class="form-control ">
									<option value="">--Select--</option>
									
									</select>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-lg-6">
						<div class="form-group">
							<label for="exampleSelect" class="inputlabel inputlabel_100">Date Approved
							</label>
							<div class="inputBox">
								<select class="form-control">
									<option value="">--Select--</option>
									
									</select>
							</div>
						</div>
					</div>
				</div>
				<div class="row row-sm">
					<div class="col-sm-6 col-lg-6">
						<div class="form-group">
							<label for="exampleSelect" class="inputlabel inputlabel_100">Closed By</label>
							<div class="inputBox">
								<select class="form-control ">
									<option value="">--Select--</option>
									
									</select>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-lg-6">
						<div class="form-group">
							<label for="exampleSelect" class="inputlabel inputlabel_100">Date Closed
							</label>
							<div class="inputBox">
								<select class="form-control">
									<option value="">--Select--</option>
									
									</select>
							</div>
						</div>
					</div>
				</div>
				<div class="row row-sm">
					<div class="col-sm-6 col-lg-6">
						<div class="form-group">
							<label for="exampleSelect" class="inputlabel inputlabel_100">last Modified  By</label>
							<div class="inputBox">
								<select class="form-control ">
									<option value="">--Select--</option>
									
									</select>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-lg-6">
						<div class="form-group">
							<label for="exampleSelect" class="inputlabel inputlabel_100">Date Modified
							</label>
							<div class="inputBox">
								<select class="form-control">
									<option value="">--Select--</option>
									
									</select>
							</div>
						</div>
					</div>
				</div>
				</div>
				</div>
				
			</div>
  
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
  
  
     <div class="row row-sm" style="min-height:30vh;">
			 <div class="col-sm-12 col-lg-12">
			 
<table class="table">
  <thead>
    <tr>
       <th scope="col">item #</th><th>ID #</th><th>Item / Function / Process Description </th>
	   <th>Requirement</th>
	    <th>Potention Failure mode</th>
		<th>Protential Effect(S) of Failure</th>
		<th>sev</th>
		<th>Classification</th>
		<th>Prtention Cause(s)/ Mechanism (s) of Failure</th>
		<th>Occ</th>
     
    </tr>
  </thead>
  <tbody>
    <tr>
	<th scope="row">1</th>
      <th></th>
	  <th></th>
	  <th></th>
	  <th></th>
	  <th></th>
	  <th></th>
	  <th></th>
	  <th></th>
	  <th></th>
      
    </tr>
    
	</tbody>
</table>
</div>
</div>
 <div class="row row-sm" style="min-height:30vh;">
			 <div class="col-sm-12 col-lg-12">
			 
<table class="table">
  <thead>
    <tr>
       <th scope="col">item #</th><th>ID #</th><th>Item / Function / Process Description </th>
	   <th>Requirement</th>
	    <th>Potention Failure mode</th>
		<th>Protential Effect(S) of Failure</th>
		<th>sev</th>
		<th>Classification</th>
		<th>Prtention Cause(s)/ Mechanism (s) of Failure</th>
		<th>Occ</th>
     
    </tr>
  </thead>
  <tbody>
    <tr>
	<th scope="row">1</th>
      <th></th>
	  <th></th>
	  <th></th>
	  <th></th>
	  <th></th>
	  <th></th>
	  <th></th>
	  <th></th>
	  <th></th>
      
    </tr>
    
	</tbody>
</table>
</div>
</div>
  
  
  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
  
  
  <div class="row row-sm">
  
  <div class="col-sm-10 col-lg-10">
						<div class="form-group">
							<label for="exampleSelect" class="inputlabel inputlabel_100">Comments:</label>
							<div class="inputBox">
								<textarea class="form-control " style="min-height:50px;">									
									
									</textarea>
							</div>
						</div>
					</div>
  </div>
  
   <div class="row row-sm">
			 <div class="col-sm-4 col-lg-4">
			 
<table class="table">
  <thead>
    <tr>
       <th scope="col">#</th><th class="text-center">Hyperlink to file</th><th class="text-center">file Description</th>
     
    </tr>
  </thead>
  <tbody>
    <tr>
	<th scope="row">1</th>
      <th></th>
	  <th></th>
      
    </tr>
    <tr>
	<th scope="row">2</th>
     <th></th>
	  <th></th>
      
    </tr>
    <tr>
	<th scope="row">3</th>
     <th></th>
	  <th></th>
     
    </tr>
	</tbody>
</table>
</div>
</div>
  
  
  </div>
</div>
        </div>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container-left">
        <div class="text-right">
         <button class="btn btn-faem">FMEA</button>
		 <button class="btn btn-faem">FMEA Actions</button>
		 <button class="btn btn-faem save">Save</button>
		 <button class="btn btn-faem save">New FMFA</button>
		 <button class="btn btn-faem Close">Delete</button>
		 <button class="btn btn-faem Close">Close</button>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
  