<div class="container-fluid">
      <!-- Breadcrumbs-->
      <!-- <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Blank Page</li>
      </ol> -->
	  <div class="row">
	  <h1 class="heading_hi">FMEA Reports</h1>
	  
	  </div>
      <div class="row">
        <div class="col-sm-8 col-lg-8">
		<div class="row">
        <div class="col-sm-7 col-lg-7">
		<div class="row row-sm">
					

					<div class="col-sm-12 col-lg-12">
						<div class="form-group">
							<label for="exampleSelect" class="inputlabel inputlabel_100">Start Date :</label>
							<div class="inputBox">
								<input type="date" class="form-control">
							</div>
						</div>
					</div>
					
					<div class="col-sm-12 col-lg-12">
						<div class="form-group">
							<label for="exampleSelect" class="inputlabel inputlabel_100">End Date :</label>
							<div class="inputBox">
								<input type="date" class="form-control">
							</div>
						</div>
					</div>
					
						<div class="col-sm-12 col-lg-12">
						<div class="form-group">
							<label for="exampleSelect" class="inputlabel inputlabel_100">Site :</label>
							<div class="inputBox">
								<select class="form-control ">
									<option value="">--Select--</option>
									<option>AZ</option>
									
									</select>
									</div>
						</div>
					</div>
					<div class="col-sm-12 col-lg-12">
						<div class="form-group">
							<label for="exampleSelect" class="inputlabel inputlabel_100">Department :</label>
							<div class="inputBox">
								<select class="form-control ">
									<option value="">--Select--</option>
									<option>AZ</option>
									
									</select>
									</div>
						</div>
					</div>
					<div class="col-sm-12 col-lg-12">
						<div class="form-group">
							<label for="exampleSelect" class="inputlabel inputlabel_100">FMEA Type :</label>
							<div class="inputBox">
								<select class="form-control ">
									<option value="">--Select--</option>
									<option>AZ</option>
									
									</select>
									</div>
						</div>
					</div>
					</div>
		</div>
		 <div class="col-sm-5 col-lg-5">
		<fieldset>
		<legend>FMEA Reports</legend>
  <input type="checkbox" name="vehicle" value="Bike"> FMEA Summary<br>
  <input type="checkbox" name="vehicle" value="Car"> FMEA Detail<br>
  <input type="checkbox" name="vehicle" value="Car"> FMEA Action<br>
   <input type="checkbox" name="vehicle" value="Car"> Open Action By FMEA #<br>
   <input type="checkbox" name="vehicle" value="Car"> Open Action By Owner<br>
      <input type="checkbox" name="vehicle" value="Car"> Open Action By Owner
	   <button class="btn btn-faem save pull-right Preview_Report" data-toggle="modal" data-target="#myModal">Preview Report</button>
  </fieldset>
		</div>	
		</div>
		
        </div>
      </div>
    </div>
	<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">Open FMEA Action By Action Owner</h4>
      </div>
      <div class="modal-body">
      <h2>Admin</h2><table class="table table-striped">
    <thead>
    
    </thead>
    <tbody>
       <tr>
	  
        <td>Admin</td>
        <td>Date Due</td>
        <td>Action Status</td>
		 <td>Accoprnce criter</td>
		 <td>FMEA</td>
		 <td>Potential Fallure Mode</td>
      </tr>
	        
     
    </tbody>
  </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container-left">
        <div class="text-right">
         <button class="btn btn-faem">Reset Form</button>
		
	    <button class="btn btn-faem Close">Close Form</button>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>