<div class="container-fluid">
      
      <div class="row">
        <div class="col-12">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active show" ng-click="retrieveData('severity_rating', 'fmea')" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">Severity Rating</a>
  </li>
  <li class="nav-item" ng-click="retrieveData('occurence_rating', 'fmea')">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Occurrence Rating</a>
  </li>
  <li class="nav-item" ng-click="retrieveData('detection_rating', 'fmea')">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="Detection_Rating" aria-selected="false">Detection Rating</a>
  </li>
    <li class="nav-item" ng-click="retrieveData('classification', 'fmea')">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#classification1" role="tab" aria-controls="Classification" aria-selected="false">Classification</a>
  </li>
    <li class="nav-item" ng-click="retrieveCompanyInfo('fmea')">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#company_Info" role="tab" aria-controls="Company_Info" aria-selected="false">Company Info</a>
  </li>
   <li class="nav-item" ng-click="retrieveData('sites', 'fmea')">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#sites1" role="tab" aria-controls="sites" aria-selected="false">Sites</a>
  </li>
   <li class="nav-item" ng-click="retrieveData('departments', 'fmea')">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#departments1" role="tab" aria-controls="Departments" aria-selected="false">Departments</a>
  </li>
   <li class="nav-item" ng-click="retrieveData('customers', 'fmea')">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#customers1" role="tab" aria-controls="Customers" aria-selected="false">Customers</a>
  </li>
   <li class="nav-item" ng-click="retrieveData('parts', 'fmea')">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#parts1" role="tab" aria-controls="parts" aria-selected="true">parts</a>
  </li>
  <li class="nav-item" ng-click="retrieveData('fmeatypes', 'fmea')">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#fmeatype1" role="tab" aria-controls="FMEA" aria-selected="false">FMEA Types</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
 

  <div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
  
<div id="clicentfor" class="height_155 scrollFy scrollWithFrm">
  <button class="btn btn-faem" ng-click="addNewColumn('severity_rating', 'fmea')">Add New</button>
  <button class="btn btn-faem" ng-show="isAmending" ng-click="amendColumn('severity_rating', 'fmea')">Amend</button>
  <button class="btn btn-faem" ng-click="saveColumn('severity_rating', 'fmea')">Save</button>
  <button class="btn btn-faem Close" ng-click="removeItem('severity_rating', 'fmea')">Delete</button>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Severity Value</th>
        <th>Short Description</th>
        <th>Full Description</th>    
      </tr>
    </thead>
    <tbody id="severity_rating">
    </tbody>
  </table>
  
</div>

  </div>

  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <button class="btn btn-faem" ng-click="addNewColumn('occurence_rating', 'fmea')">Add New</button>
  <button class="btn btn-faem" ng-show="isAmending" ng-click="amendColumn('occurence_rating', 'fmea')">Amend</button>
  <button class="btn btn-faem" ng-click="saveColumn('occurence_rating', 'fmea')">Save</button>
  <button class="btn btn-faem Close" ng-click="removeItem('occurence_rating', 'fmea')">Delete</button>
    <table class="table table-bordered">
    <thead>
      <tr>
     <th>&nbsp;</th>
        <th>Occurrence Value</th>
        <th>Short Description</th>
        <th>Full Description</th>
      </tr>
    </thead>
    <tbody id="occurence_rating">
    </tbody>
  </table>
  
  
  </div>

  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <button class="btn btn-faem" ng-click="addNewColumn('detection_rating', 'fmea')">Add New</button>
  <button class="btn btn-faem" ng-show="isAmending" ng-click="amendColumn('detection_rating', 'fmea')">Amend</button>
  <button class="btn btn-faem" ng-click="saveColumn('detection_rating', 'fmea')">Save</button>
  <button class="btn btn-faem Close" ng-click="removeItem('detection_rating', 'fmea')">Delete</button>
   <table class="table table-bordered">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Detection Value</th>
        <th>Short Description</th>
        <th>Full Description</th>
    
    
      </tr>
    </thead>
    <tbody id="detection_rating">
    </tbody>
  </table>

</div>
<div class="tab-pane " id="classification1" role="tabpanel" aria-labelledby="classification">
   <button class="btn btn-faem" ng-click="addNewColumn('classification', 'fmea')">Add New</button>
   <button class="btn btn-faem" ng-show="isAmending" ng-click="amendColumn('classification', 'fmea')">Amend</button>
  <button class="btn btn-faem" ng-click="saveColumn('classification', 'fmea')">Save</button>
  <button class="btn btn-faem Close" ng-click="removeItem('classification', 'fmea')">Delete</button>
 <table class="table table-bordered">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Classification</th>
        <th>Short Description</th>
        <th>Full Description</th>
      </tr>
    </thead>
    <tbody id="classification">
    </tbody>
  </table>

 </div>

 <div class="tab-pane fade" id="sites1" role="tabpanel" aria-labelledby="sites">
  <button class="btn btn-faem" ng-click="addNewColumn('sites', 'fmea')">Add New</button>
  <button class="btn btn-faem" ng-show="isAmending" ng-click="amendColumn('sites', 'fmea')">Amend</button>
  <button class="btn btn-faem" ng-click="saveColumn('sites', 'fmea')">Save</button>
  <button class="btn btn-faem Close" ng-click="removeItem('sites', 'fmea')">Delete</button>
 <table class="table table-bordered">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Site</th>
        <th> Description</th>
      </tr>
    </thead>
    <tbody id="sites">
    </tbody>
  </table>

  </div>

  <div class="tab-pane fade" id="departments1" role="tabpanel" aria-labelledby="Departments">

  <button class="btn btn-faem" ng-click="addNewColumn('departments', 'fmea')">Add New</button>
  <button class="btn btn-faem" ng-show="isAmending" ng-click="amendColumn('departments', 'fmea')">Amend</button>
  <button class="btn btn-faem" ng-click="saveColumn('departments', 'fmea')">Save</button>
  <button class="btn btn-faem Close" ng-click="removeItem('departments', 'fmea')">Delete</button>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Dept Number / Code</th>
        <th>Department Name</th>
        <th>Manager Name</th>
    <th>Active</th>
    
      </tr>
    </thead>
    <tbody id="departments">      
    </tbody>
  </table>

  </div>
  <div class="tab-pane fade" id="customers1" role="tabpanel" aria-labelledby="Customers">
 
  <button class="btn btn-faem" ng-click="addNewColumn('customers', 'fmea')">Add New</button>
  <button class="btn btn-faem" ng-show="isAmending" ng-click="amendColumn('customers', 'fmea')">Amend</button>
  <button class="btn btn-faem" ng-click="saveColumn('customers', 'fmea')">Save</button>
  <button class="btn btn-faem Close" ng-click="removeItem('customers', 'fmea')">Delete</button>
 <table class="table table-bordered">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Customer Code</th>
        <th>Company Name</th>
        <th>Billing Address</th>
        <th>City</th>
        <th>State or Province</th>
        <th>Pin Code</th>
        <th>Country/Region</th>
      </tr>
    </thead>
    <tbody id="customers">
    </tbody>
  </table>
  </div>
  <div class="tab-pane fade" id="fmeatype1" role="tabpanel" aria-labelledby="FMEA">
  
  <button class="btn btn-faem" ng-click="addNewColumn('fmeatypes', 'fmea')">Add New</button>
  <button class="btn btn-faem" ng-show="isAmending" ng-click="amendColumn('fmeatypes', 'fmea')">Amend</button>
  <button class="btn btn-faem" ng-click="saveColumn('fmeatypes', 'fmea')">Save</button>
  <button class="btn btn-faem Close" ng-click="removeItem('fmeatypes', 'fmea')">Delete</button>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th style="width:33%">FMEA Type</th>
      </tr>
    </thead>
    <tbody id="fmeatypes">
    </tbody>
  </table>
  </div>
  
   <div class="tab-pane fade" id="parts1" role="tabpanel" aria-labelledby="parts">
     
  <button class="btn btn-faem" ng-click="addNewColumn('parts', 'fmea')">Add New</button>
  <button class="btn btn-faem" ng-show="isAmending" ng-click="amendColumn('parts', 'fmea')">Amend</button>
  <button class="btn btn-faem" ng-click="saveColumn('parts', 'fmea')">Save</button>
  <button class="btn btn-faem Close" ng-click="removeItem('parts', 'fmea')">Delete</button>
     <table class="table table-bordered">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Part Number</th>
        <th>Description</th>
        <th>Revision</th>
       <th>Alias</th>
        <th>Active</th>
    
    
      </tr>
    </thead>
    <tbody id="parts">
    </tbody>
  </table>
  </div>
  <div class="tab-pane fade" id="company_Info" role="tabpanel" aria-labelledby="company_Info">
  <div class="row row-sm">
        <div id="PANis" class="col-md-6" datatypesag="themesagsetting">
          <div class="form-group">
          <label class="inputlabel inputlabel_150">Abbreviation :</label> 
          <div class="inputBox">
          <input type="text" class="form-control" ng-model="company.abbreviation"/>
            </div>
            </div>
            <div class="form-group">
          <label class="inputlabel inputlabel_150">Company Name :</label> 
          <div class="inputBox">
          <input type="text" class="form-control" ng-model="company.name"/>
            </div>
            </div>
            <div class="form-group">
          <label class="inputlabel inputlabel_150">Address :</label> 
          <div class="inputBox">
          <input type="text" class="form-control" ng-model="company.address"/>
            </div>
            </div>
            <div class="form-group">
          <label class="inputlabel inputlabel_150">City :</label> 
          <div class="inputBox">
          <input type="text" class="form-control" ng-model="company.city"/>
            </div>
            </div>
            <div class="form-group">
          <label class="inputlabel inputlabel_150">State :</label> 
          <div class="inputBox">
          <input type="text" class="form-control" ng-model="company.state"/>
            </div>
            </div>
            <div class="form-group">
          <label class="inputlabel inputlabel_150">Zip :</label> 
          <div class="inputBox">
          <input type="text" class="form-control" ng-model="company.zip"/>
            </div>
            </div>
            <div class="form-group">
          <label class="inputlabel inputlabel_150">Country :</label> 
          <div class="inputBox">
          <input type="text" class="form-control" ng-model="company.country"/>
            </div>
            </div>
            <div class="form-group">
          <label class="inputlabel inputlabel_150">Phone :</label> 
          <div class="inputBox">
          <input type="text" class="form-control" ng-model="company.phone"/>
            </div>
            </div>
            <div class="form-group">
          <label class="inputlabel inputlabel_150">Fax :</label> 
          <div class="inputBox">
          <input type="text" class="form-control" ng-model="company.fax"/>
            </div>
            </div>
            <div class="form-group">
          <label class="inputlabel inputlabel_150">FMEA Document :</label> 
          <div class="inputBox">
          <input type="text" class="form-control" ng-model="company.fmeaDoc"/>
            </div>
            </div>
        </div>
</div>

        <button class="btn btn-faem" ng-click="updateCompanyInfo('companyInfo', 'fmea')">Update</button>
        </div>

  </div>

  
  
  </div>
</div>
        </div>
      </div>
